.about-section {
  padding-top: 10rem;
  background: linear-gradient(to bottom, $black 0%,#{fade-out($black, .1)} 75%,#{fade-out($black, .2)} 100%);
  p {
    margin-bottom: 5rem;
  }
  .granate {
    width: 100%;
    opacity: 0.8;
  }
  .container-fluid {
    .row {
      margin-right: 0;
      margin-left: 0;
      .col-sm-12 {
        padding-right: 0;
        padding-left: 0;
      }
    }
    padding: 0;
    width: 100%;
  }
}
